<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleDevelopmentRegion</key><string>zh_CN</string>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key><string>PathBridge</string>
    <key>CFBundleDisplayName</key><string>PathBridge</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.1.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>LSMinimumSystemVersion</key><string>15.7</string>
    <key>LSUIElement</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSNetworkVolumesUsageDescription</key><string>PathBridge 需要判断网络路径是文件还是文件夹，以便在 Finder 中定位文件或打开目录。</string>
    <key>CFBundleURLTypes</key><array><dict>
        <key>CFBundleURLName</key><string>com.yuna.PathBridge.finder</string>
        <key>CFBundleURLSchemes</key><array><string>pathbridge</string></array>
        <key>CFBundleTypeRole</key><string>Viewer</string>
    </dict></array>
</dict></plist>
